body {
    background-color: blanchedalmond;
    color: black;
    transition:  background-color 800ms ease;
}

.dark {
    background-color: black;
    color: blanchedalmond;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p1 {
    display: none;
}

div {
    background-color: rebeccapurple;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}
  
#b1 {
    margin-top: 10px;
}